.header{
    background-color: rgb(105, 158, 233);
    color: white;
    position: fixed; /* ヘッダーを固定する */
    top: 0; /* 上部から配置の基準位置を決める */
    left: 0; /* 左から配置の基準位置を決める */
    width: 100%;
    height: 7vh;
    
}

.blog_title{
    text-align: center;
    text-decoration: none;
}
.link{
    text-decoration: none;
    color: white;
}