@media (min-width: 768px){
.writer_box{
    width: 20vw;
    height: 35vh;
    float: right;
    margin-right: 8vw;
    border: 1px solid rgb(169, 182, 203);
    border-radius: 9px;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 10vh;
}


.writer_box img{
    width: 5vw;
}

.writer_img{
    width: 5vw;
    margin: 2vh auto;
}

.name{
    text-align: center;
}
}

@media (max-width: 768px) {
    .writer_box{
        width: 80vw;
        border: 1px solid rgb(169, 182, 203);
        border-radius: 9px;
        box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
        margin-top: 0;
        margin-bottom: 5vh;
        margin-left: 10vw;
    }
    
    
    .writer_box img{
        width: 15vw;
    }
    
    .writer_img{
        width: 15vw;
        margin: 2vh auto;
    }

    .writer_box p{
        text-align: center;
    }
    
    .name{
        text-align: center;
    }
}